.heroHeader {
    background: url(https://images.unsplash.com/photo-1434600171728-fd0c9ba2efe9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1562&q=80);    
    background-repeat: no-repeat;
    background-position: center;
}

.titleText {
    font-size: 90px;
    color: white;
    text-Shadow: 0 1px 3px #0008;
}

.subtitleText {
    font-size: 40px;
    color: white;
    text-shadow: 0 1px 3px #0008;
}

